*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
hr{
    width: 30%;
    margin: 0 auto;
}
.container {
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
   
    width :30%;
    margin: 0 auto;
    font-size: 50px; 
    margin-bottom: 20px;
    
}

.container div {
    border: 1px solid black;
    display: grid;
    place-items: center;
    padding: 50px;
    font-size: 50px;
    
   
}
.winner{
    background-color: green;
}
button{
    display: block;
    padding: 20px;
    background-color: slategray;
    color: white;
    margin: 0 auto;
}